@page "/editrealestate/{id}"
@page "/editrealestate"
@inherits EditRealEstateBase



<EditForm Model="RealEstate" OnValidSubmit="@OnValidSubmit">
    <div>
        <RealEstateEditor RealEstate="RealEstate"/>
    </div>
    <button tupe="submit" class="btn btn-primary">Ändra</button>
    <DataAnnotationsValidator/>
</EditForm>



