@page "/editrealestate/{id}"
@page "/editrealestate"
@inherits BlazorBroker.Pages.EditRealEstateBase

<h1 class="primary-color">Fastighetsdetaljer</h1>

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header text-center primary-color">
                <h1></h1>
            </div>
            <div class="card-body">
                <p>
                    boomshakalak
                </p>
                <div class="row">

                </div>
                
                
                    <div class="card-header text-center">
                        <h3 class="primary-color"> @RealEstate.Address</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Här kan man ha beskrivningar om projektet
                        </p>
                    </div>
                    <div class="card-footer text-center">

                    </div>
                

            </div>

            <div class="card-footer text-center">
                <a href="/" class="btn button-primary m-1">Tillbaka </a>
                <a href="#" class="btn secondary-button m-1">Spara</a>
                <a href="#" class="btn third-button m-1">Förhandsgranska</a>
            </div>
        </div>
    </div>


</div>