@page "/editrealestate/{id}"
@page "/editrealestate"
@inject RealEstateService RealEstateService 
@inherits EditRealEstateBase


<EditForm Model="RealEstate" OnValidSubmit="@OnValidSubmit">
    <div>
        <RealEstateEditor RealEstate="RealEstate"/>
    </div>
    <button tupe="submit" class="btn btn-primary">Skapa</button>
    <DataAnnotationsValidator/>
</EditForm>

<h1 class="primary-color">Fastighetsdetaljer</h1>


