@page "/"
@inherits RealEstateListBase

<h1 class="primary-color">Mina försäljningar</h1>


@if (RealEstates == null)
{
    <div class="spinner"></div>
}
else
{
        <div class="card-deck d-flex flex-column flex-wrap align-items-center">
            @foreach (var realEstate in RealEstates)
            {
                <div class="card m-3 card-body-style">
                    <div class="card-header text-center">
                        <h3 class="primary-color">@realEstate.Id @realEstate.Address</h3>
                    </div>
                    <div class="card-body">
                    <p>
                       Här kan man ha beskrivningar om projektet
                    </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="@($"realestatedetails/{realEstate.Id}")" class="btn button-primary m-1">Titta</a>
                        <a href="@($"editrealestate/{realEstate.Id}")" class="btn secondary-button m-1">Ändra</a>
                        <a href="#" class="btn third-button m-1">Ta bort</a>
                    </div>
                </div>
            }
        </div>
}


