@{
	ViewData["Title"] ="Cookies";
}

<div class="container w-50">
	<h1 class="primary-color">Cookies</h1>
	<p>
		<em>Senast uppdaterad 2022-04-21</em>
	</p>
		<div>
			<h5 class="primary-color">Om Cookies på HomeFinder</h5>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus est erat, viverra tempor lectus interdum eu. 
				Suspendisse potenti. Donec ullamcorper laoreet turpis, id tincidunt mauris condimentum in. Etiam non metus at tellus ullamcorper rhoncus viverra at magna.
				Sed maximus odio arcu, nec maximus nulla accumsan quis. Curabitur tempor ex mi, at vulputate lacus dignissim ornare. Ut vitae sagittis nisl.
				Donec nulla erat, dapibus sed feugiat id, blandit eleifend nibh. Ut ac ipsum rhoncus, blandit eros at, varius purus. Vestibulum vitae lacus nulla. 
				Suspendisse tincidunt quam consequat eros faucibus, id sodales leo sollicitudin. Aenean imperdiet consequat diam, et ultricies risus finibus quis. 
				Morbi tincidunt facilisis mi at maximus. Duis ex libero, placerat rutrum justo et, pulvinar placerat diam. Sed rhoncus vestibulum nisl, ac posuere lacus.
				<br />
				<br />	
				Praesent eu molestie enim. In non tincidunt urna. Nunc nec hendrerit quam. Nunc in interdum justo. Vestibulum bibendum convallis lectus, placerat consectetur nibh pulvinar eu. 
				Integer enim augue, sollicitudin eu pulvinar quis, aliquet a massa. Curabitur tempor augue at dolor egestas, vel placerat sem pharetra.
			</p>
		</div>
		<div>
			<h5 class="primary-color">Data som samlas in via Cookies</h5>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus est erat, viverra tempor lectus interdum eu. 
				Suspendisse potenti. Donec ullamcorper laoreet turpis, id tincidunt mauris condimentum in. Etiam non metus at tellus ullamcorper rhoncus viverra at magna.
				Sed maximus odio arcu, nec maximus nulla accumsan quis. Curabitur tempor ex mi, at vulputate lacus dignissim ornare. Ut vitae sagittis nisl.
				Donec nulla erat, dapibus sed feugiat id, blandit eleifend nibh. Ut ac ipsum rhoncus, blandit eros at, varius purus. Vestibulum vitae lacus nulla. 
			</p>
		</div>
		<div>
			<h5 class="primary-color">Koppling till Homefinder-konto</h5>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus est erat, viverra tempor lectus interdum eu. 
				Suspendisse potenti. Donec ullamcorper laoreet turpis, id tincidunt mauris condimentum in. Etiam non metus at tellus ullamcorper rhoncus viverra at magna.
			</p>
		</div>
		<div>
			<h5 class="primary-color">Funktionella Cookies</h5>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus est erat, viverra tempor lectus interdum eu. 
				Suspendisse potenti. Donec ullamcorper laoreet turpis, id tincidunt mauris condimentum in. Etiam non metus at tellus ullamcorper rhoncus viverra at magna.
				Sed maximus odio arcu, nec maximus nulla accumsan quis. Curabitur tempor ex mi, at vulputate lacus dignissim ornare. Ut vitae sagittis nisl.
				Donec nulla erat, dapibus sed feugiat id, blandit eleifend nibh. Ut ac ipsum rhoncus, blandit eros at, varius purus. Vestibulum vitae lacus nulla. 
				Suspendisse tincidunt quam consequat eros faucibus, id sodales leo sollicitudin. Aenean imperdiet consequat diam, et ultricies risus finibus quis. 
				Morbi tincidunt facilisis mi at maximus. Duis ex libero, placerat rutrum justo et, pulvinar placerat diam. Sed rhoncus vestibulum nisl, ac posuere lacus.
				<br />
				<br />	
				Praesent eu molestie enim. In non tincidunt urna. Nunc nec hendrerit quam. Nunc in interdum justo. Vestibulum bibendum convallis lectus, placerat consectetur nibh pulvinar eu. 
				Integer enim augue, sollicitudin eu pulvinar quis, aliquet a massa. Curabitur tempor augue at dolor egestas, vel placerat sem pharetra.
				<br />
				<br />
				Morbi nec odio id sapien imperdiet sagittis ut id turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non dignissim ex, at eleifend tortor. Ut eget tellus sed lorem mattis lacinia. 
				Pellentesque malesuada metus nunc. Nulla fringilla metus a augue malesuada feugiat. Etiam tempor sed tortor eget porta. 
				Pellentesque id justo dolor. Etiam massa lacus, ornare sit amet lectus tincidunt, ullamcorper rhoncus ipsum. Donec turpis neque, aliquam a orci vel, sollicitudin congue eros.
				<br />
				<br />
				Nullam a laoreet dolor. Pellentesque in egestas ante. Nulla libero massa, posuere in iaculis at, dignissim id turpis. 
				Ut laoreet tristique massa. Morbi egestas vel leo hendrerit tincidunt. 
				In et libero pellentesque, vehicula turpis ac, luctus elit. In bibendum, nisi eu rhoncus malesuada, enim ante condimentum augue, in commodo lectus tortor a diam. Mauris quis lacinia erat.
				<br />
				<br />
				Pellentesque sed nisi in urna congue cursus. Fusce ac tortor odio. Proin commodo magna ut metus porta congue. Pellentesque in sem nunc. 
				Suspendisse ultricies felis eget purus condimentum lacinia. Suspendisse lobortis mi eu libero consectetur tempus. Integer non eros diam. 
				Maecenas imperdiet, augue in volutpat tincidunt, magna orci consectetur diam, sit amet pellentesque turpis eros in metus. 
				Mauris et dictum nisi. Aliquam egestas turpis vel posuere cursus. Maecenas sed lacus id ex rutrum feugiat. Integer tincidunt aliquet risus sit amet elementum. 
				Praesent fringilla augue sit amet odio feugiat, eget lacinia odio placerat.
			</p>
		</div>
</div>