@{
	ViewData["Title"] = "Allmäna villkor";
}

<div class="container w-50">
	<h1 class="primary-color">Allmänna villkor för Reklam på Homefinder</h1>
	<p>
		<em>Senast uppdaterad 2021-04-21</em>
	</p>
	<h5 class="primary-color">1. Introduktion</h5>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae ullamcorper lorem. Suspendisse fermentum tellus diam, in molestie orci aliquam ut. 
		Quisque sed ullamcorper quam. Mauris ut pharetra dui. Donec nunc est, tristique vel dolor in, fringilla maximus metus. Sed consectetur ante at sollicitudin consectetur. 
		Curabitur sed vestibulum tortor. Praesent eu enim leo. Nunc non ligula mi. Pellentesque pretium ultrices nunc, eget vehicula ex molestie in. Donec ornare lorem dui, nec consequat orci tincidunt in. 
		Cras in pellentesque velit. Donec tempus mauris in purus consectetur, id efficitur nunc facilisis.
	</p>
	<h5 class="primary-color">2. Tjänsten</h5>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eleifend velit ut odio pretium, nec vulputate mi vestibulum. 
		Cras tincidunt pharetra tellus ac aliquam. Pellentesque convallis purus egestas leo pretium vestibulum. Donec varius lacus vitae nisl posuere, vitae commodo lorem ultricies. 
		Etiam dignissim ultrices erat, a rutrum quam placerat vel. In hac habitasse platea dictumst. In volutpat velit at neque eleifend, vitae bibendum dolor mattis. Suspendisse porta eu orci non ultricies. 
		Mauris vel viverra nulla, sed vestibulum odio. In et leo eros. Pellentesque condimentum accumsan leo, congue mattis dui commodo rutrum. Suspendisse quam diam, mattis at malesuada non, porttitor sit amet felis.
	</p>
	<h5 class="primary-color">3. Annonsörens ansvar</h5>
	<p>
		Morbi nec odio id sapien imperdiet sagittis ut id turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non dignissim ex, at eleifend tortor. Ut eget tellus sed lorem mattis lacinia. 
		Pellentesque malesuada metus nunc. Nulla fringilla metus a augue malesuada feugiat. Etiam tempor sed tortor eget porta. Pellentesque id justo dolor. 
		Etiam massa lacus, ornare sit amet lectus tincidunt, ullamcorper rhoncus ipsum. Donec turpis neque, aliquam a orci vel, sollicitudin con	gue eros.
	</p>
	<h5 class="primary-color">4. Immateriella rättigheter</h5>
	<p>
		Nullam a laoreet dolor. Pellentesque in egestas ante. Nulla libero massa, posuere in iaculis at, dignissim id turpis. Ut laoreet tristique massa. 
		Morbi egestas vel leo hendrerit tincidunt. In et libero pellentesque, vehicula turpis ac, luctus elit. 
		In bibendum, nisi eu rhoncus malesuada, enim ante condimentum augue, in commodo lectus tortor a diam. Mauris quis lacinia erat.
	</p>
	<h5 class="primary-color">5. Personuppgifter</h5>
	<p>
		Pellentesque sed nisi in urna congue cursus. Fusce ac tortor odio. Proin commodo magna ut metus porta congue. Pellentesque in sem nunc. 
		Suspendisse ultricies felis eget purus condimentum lacinia. Suspendisse lobortis mi eu libero consectetur tempus. Integer non eros diam. 
		Maecenas imperdiet, augue in volutpat tincidunt, magna orci consectetur diam, sit amet pellentesque turpis eros in metus. 
		Mauris et dictum nisi. Aliquam egestas turpis vel posuere cursus. Maecenas sed lacus id ex rutrum feugiat. Integer tincidunt aliquet risus sit amet elementum. 
		Praesent fringilla augue sit amet odio feugiat, eget lacinia odio placerat.
	</p>
</div>