@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

		<div class="card" style="width:30vh">
				    <a asp-controller="account" asp-action="registerrealtor" class="box">
					    <img  style="width:30vh" class="image-top" src="https://cdn.pixabay.com/photo/2021/02/16/04/40/realtor-6019792__340.png" alt="Bilden kunde tyvärr inte visas"/>
			<div class="card-header">
				<h5 class="text-center">
					Är du mäklare och vill använda vår tjänst?<br />
					Skapa ditt konto här!
				</h5>
				</div>
					</a>
				@*<div class="card-body">
				</div>
			<div class="card-footer">
				<a class="btn btn-primary" asp-controller="Account" asp-action="RegisterRealtor">Skapa ditt konto här!</a>
			</div>
		</div>*@