@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="mt-5 primary-color d-flex flex-column align-items-center justify-content-center">
				<span class="search-header text-dark">VARFÖR SÄLJA MED <span class="primary-color">OSS?</span></span> 
			
			<div class="w-75">

			<p class="mt-1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed nunc non lectus interdum hendrerit et quis tortor. Nunc eros felis, maximus id nisl a, finibus suscipit dolor. 
				Proin nunc arcu, aliquet et eros eu, rutrum tristique orci. Etiam at facilisis dolor. Cras a rutrum enim. Maecenas sapien sapien, convallis sit amet dapibus non, tincidunt non odio. 
				Vivamus at rutrum neque. Maecenas ut urna commodo, consectetur sapien non, molestie odio. Aliquam finibus faucibus diam a semper. Etiam sit amet nulla ac nisi tincidunt elementum eget at orci.
				<br />
				<br />
				Aenean pellentesque risus in dapibus consectetur. Integer pellentesque nulla in nisl molestie vehicula. Praesent imperdiet placerat imperdiet. 
				Duis nibh dui, ultricies eget nibh eget, scelerisque venenatis sapien. Quisque ullamcorper dui lacus, et auctor.
			</p>
			</div>
			
			<div class="w-75">
						<div class="mgb-40 padb-30 auto-invert line-b-4 align-center">
							<div class="mt-4 mb-4">
							<h1 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg" contenteditable="false">KUNDER BERÄTTAR</h1>
						</div>
						<ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm text-dark d-flex justify-content-around">
							<li class="rounded-circle circle-style m-1 w-25">
							  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
							  <p class="fs-110 font-cond-l" contenteditable="false">" Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. "</p>
							  <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Martha Stewart</h5>
							  <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Business Woman - New York</small>
							</li>
							<li class="rounded-circle circle-style m-1 w-25">
							  <img src="https://bootdey.com/img/Content/avatar/avatar4.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
							  <p class="fs-110 font-cond-l" contenteditable="false">" Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. "</p>
							  <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Ariana Menage</h5>
							  <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Recording Artist - Los Angeles</small>
							</li>
							<li class="rounded-circle circle-style m-1 w-25">
							  <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
							  <p class="fs-110 font-cond-l" contenteditable="false">" Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. "</p>
							  <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Sean Carter</h5>
							  <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Fund Manager - Chicago</small>
							</li>
						  </ul>
							</div>
			</div>

		</div>
