@{
    ViewData["Title"] = "Villkor";
}


<div class="container w-50">
    <h2 class="primary-color mt-3">Villkor</h2>
        <div class="mt-2">
            <h5 class="mb-0">Cookies på Homefinder</h5>
                <p class="mt-0">
                    Här hittar du en sammanställning över vad cookies är samt hur och varför Homefinder använder cookies.
                </p>
                <a asp-action="Cookies" class="primary-color text-decoration-none"><u>Så använder Homefinder Cookies</u></a>
        </div>
        <div class="mt-2">
            <h5 class="mb-0">Användarvillkor</h5>
                <p>
                    Villkor för dig som använder Homefinder och omfattar alla de bostadsannonser och allt det innehåll som Homefinder publicerar.
                </p>
                <a asp-action="UserTerms" class="primary-color text-decoration-none"><u>Användarvillkor för Homefinder</u></a>
        </div>
        <div class="mt-2">
            <h5 class="mb-0">Avtalsvillkor för Bostadssäljare</h5>
                <p>
                   Här hittar du de avtalsvillkor som gäller för Homefinders samtliga annonseringstjänster för bostadssäljare.
                </p>
                <a href="https://www.termsandcondiitionssample.com/live.php?token=WN0zPRGZSa8Bgy3eaUqylSSH1WmMSnTq" class="primary-color text-decoration-none"><u>Avtalsvillkor för Bostadssäljare</u></a>
        </div>
        <div class="mt-2">
            <h5 class="mb-0">Reklam på Homefinder</h5>
                <p>
                    Villkor som gäller för köp av annonsering eller kampanj på Homefinder.
                </p>
                <a asp-action="EndorsementOnHomefinder" class="primary-color text-decoration-none"><u>Allmänna villkor för reklam på Homefinder</u></a>
        </div>
</div>