@{
	ViewData["Title"] = "Användarvillkor";
}

<div class="container w-50">
	<h1 class="primary-color">Användarvillkor för Homefinder</h1>
	<p>
		Dessa användarvillkor gäller för Homefinder AB:s (556660-1337 - “Homefinder AB” eller “vi”) tillhandahållande av www.homefinder.se och omfattar alla de bostadsannonser och allt det innehåll
		som Homefinder publicerar i sina olika kanaler (samtliga kanaler benämns fortsättningsvis gemensamt “Homefinder”) oavsett hur besöket sker eller på vilket sätt tillgång bereds till innehållet på Homefinder.

		Villkoren kan komma att uppdateras från tid till annan. Läs villkoren noggrant, om du har för avsikt att göra någonting annat än att helt enkelt surfa på Homefinder.
	</p>
	<h5 class="primary-color">Tillåten användning</h5>
	<p>
		Om du precis som miljoner andra människor besöker Homefinder i egenskap av privatperson för att leta efter bostäder, kan du lugnt surfa vidare. 
		Det är även helt ok att dela länkar till bostadsannonser du hittar på Homefinder med nära och kära, posta länkar till bostadsannonser i sociala medier osv.
	</p>
	<h5 class="primary-color">Länkning</h5>
	<p>
	Generellt är det godkänt att länka till Homefinder, men däremot vill vi att besökare flyttas till vår domän och att länken inte är integrerad på andra webbsidor. 
	Alla former av inbäddning och “hot-linking” är förbjudet. Detta kräver vårt godkännande. Detsamma gäller länkning i större skala eller i en kommersiell kontext.
	</p>
	<h5 class="primary-color">Immateriella Rättigheter</h5>
	<p>
	På Homefinder finns innehåll som är skyddat av immaterialrättslig lagstiftning, såsom upphovsrätt. Homefinder har även en databas som skyddas av upphovsrättslagen. 
	Användning i strid med dessa användarvillkor kan innebära intrång i Homefinder eller Homefinders licensgivares immateriella rättigheter och kan komma att beivras. Intrång medför ersättningsskyldighet.
	<br>
	<br />
	Kommersiell eller systematiskt användning av Homefinder är inte tillåten och all användning av automatiserade tjänster såsom spindling, 
	eller användning av robotar eller indexeringstekniker för att aggregera eller på annat sätt nyttja innehållet på Homefinder är förbjudet. 
	Oavsett metod är det förbjudet att framställa kopior/exemplar av innehåll på Homefinder, annat än för privat bruk, eller att göra det tillgängligt för allmänheten.
	</p>
</div>