@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


.primary-color {
    color: #71918E;
}

.secondary-color {
    color: #B7C8C6;
}

.third-color {
    color: #586575;
}

.fourth-color {
    color: #5C554E;
}

.button-primary {
    background-color: #71918e;
    color: white;
    width: 10vh;
    height: 4vh;
}

.secondary-button {
    background-color: #586575;
    color: white;
    width: 10vh;
    height: 4vh;
}

.third-button {
    background-color: #5C554E;
    color: white;
    width: 10vh;
    height: 4vh;
}

.card-body-style{
    width: 100vh;
    height: auto;
}
