@model HomeFinder.Models.RealEstate

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RealEstate</h4>
<hr />
<div class="row">
    <div class="col-md-4">s
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverPictureURL" class="control-label"></label>
                <input asp-for="CoverPictureURL" class="form-control" />
                <span asp-validation-for="CoverPictureURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfRooms" class="control-label"></label>
                <input asp-for="NumberOfRooms" class="form-control" />
                <span asp-validation-for="NumberOfRooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LivingArea" class="control-label"></label>
                <input asp-for="LivingArea" class="form-control" />
                <span asp-validation-for="LivingArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConstructionYear" class="control-label"></label>
                <input asp-for="ConstructionYear" class="form-control" />
                <span asp-validation-for="ConstructionYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShowDate" class="control-label"></label>
                <input asp-for="ShowDate" class="form-control" />
                <span asp-validation-for="ShowDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealEstateType" class="control-label"></label>
                <select class="form-control" asp-for="RealEstateType" asp-items="Html.GetEnumSelectList<RealEstateTypes>()">
                <option selected="selected" value="">Select type</option></select>
            </div>
            <div class="form-group  pt-5">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
