<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HomeFinder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/myCss.css" />
<link rel="stylesheet" href="~/lib/fontawesome-free-6.1.1-web/css/all.css" />
</head>
<body class="d-flex flex-column p-0 m-0 min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow" id="navbar-color">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HomeFinder</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Gallery" asp-action="Index">Objects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if(User.IsInRole("admin"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Administrator" asp-action="ListRoles">Administration</a>
                        </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mitt konto</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                   <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Index">Hem</a>
                                   <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="MyDetails">Mina uppgifter</a>
                                  <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Logout">Logga ut</a>
                                </div>
                            </li>
                        }
                        else
                        {
                        <li class="nav-item">
                             <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Logga in</a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid m-0 p-0">
        <main role="main" class="pb-0">
            @RenderBody()
        </main>
    </div>

    <footer class="m-0 h-100 footer-size mt-auto" id="navbar-color">
        <div class="container d-flex flex-row justify-content-center">
            <div class="d-flex flex-column m-3">
                    <h5>For customers</h5>
                        <span class="mb-1 text-light">
                                <a class="text-light" asp-controller="Account" asp-action="Login">Login</a>
                        </span>
                        <span class="mb-1 text-light">
                            <a class="text-light" asp-controller="Gallery" asp-action="Index">Search for a new home</a>
                        </span>
            </div>
            <div class="d-flex flex-column m-3">
                <h5>For realtors</h5>
                <span class="mb-1 text-light">
                        <a class="text-light" asp-controller="Account" asp-action="Login">Login</a>
                </span>
                <span class="mb-1 text-light">
                        <a class="text-light" asp-controller="Account" asp-action="RegisterRealtor">Register realtor</a>
                </span>
                </div>  
                <div class="d-flex flex-column m-3">
                    <h5>Follow us</h5>
                    <span class="text-light">
                    <i class="fa-brands fa-facebook"></i> <a class="text-light" href="https://www.facebook.se" target="_blank">Facebook</a>
                    </span>
                    <span class="text-light">
                    <i class="fa-brands fa-instagram"></i> <a class="text-light" href="https://www.instagram.com/" target="_blank">Instagram</a>
                    </span>
                    <span class="text-light">
                    <i class="fa-brands fa-twitter"></i> <a class="text-light" href="https://www.twitter.com" target="_blank">Twitter</a>
                    </span>
                    <span class="text-light">
                    <i class="fa-brands fa-linkedin"></i> <a class="text-light" href="https://se.linkedin.com/" target="_blank">LinkedIn</a>
                    </span>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
                     <span class="m-1 text-center text-light">
                            &copy; 2022 - HomeFinder - <a class="text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
