<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HomeFinder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/myCss.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.1.1-web/css/all.css">

</head>
<body class="d-flex flex-column p-0 m-0 min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light border-bottom box-shadow" id="navbar-color">
            <div class="container-fluid d-flex flex-row justify-content-between align-items-between">
                
                <div class="w-50">
                <a class="navbar-brand" id="text-color" asp-area="" asp-controller="Home" asp-action="Index">HOMEFINDER</a>
                </div>

                <div class="d-flex justify-content-end">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </div>
                
                <div class="w-100 m-0">
                    <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1" >
                            <li class="nav-item">
                                <a class="nav-link" id="text-color" asp-area="" asp-controller="Home" asp-action="Index">START</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="text-color" asp-area="" asp-controller="Gallery" asp-action="Index">HITTA HEM</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="text-color" asp-controller="Home" asp-action="SellWithUs">SÄLJ MED OSS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="text-color" href="#">HITTA MÄKLARE</a>
                            </li>
                            @if(User.IsInRole("admin"))
                            {
                            <li class="nav-item">
                                <a class="nav-link" id="text-color" asp-area="" asp-controller="Administrator" asp-action="ListRoles">Administration</a>
                            </li>
                            }
                            </ul>
                            <ul class="navbar-nav flex-grow-1 d-lg-inline-flex justify-content-end mr-1">
                            @if (!User.Identity.IsAuthenticated)
                            {
                             <li class="nav-item">
                                 <a class="nav-link float-lg-right" id="text-color" asp-area="" asp-controller="Account" asp-action="Login">LOGGA IN</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item dropdown" id="text-color">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mitt konto</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                       <a class="nav-link" id="text-color" asp-area="" asp-controller="Account" asp-action="Index">Hem</a>
                                       <a class="nav-link" id="text-color" asp-area="" asp-controller="Account" asp-action="MyDetails">Mina uppgifter</a>
                                       <a class="nav-link" id="text-color" asp-area="" asp-controller="Account" asp-action="MyFavourites">Mina favoriter</a>
                                      <a class="nav-link" id="text-color" asp-area="" asp-controller="Account" asp-action="Logout">Logga ut</a>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    </div>
                </div>
        </nav>
    </header>
    <div class="container-fluid m-0 p-0">
        <main role="main" class="pb-0">
            @RenderBody()
        </main>
    </div>

    <footer class="m-0 h-100 footer-size mt-auto" id="footer-color">
        <div class="container d-flex flex-row justify-content-center">
            <div class="d-flex flex-column m-3">
                    <h5>For customers</h5>
                        <span class="mb-1">
                            @if(User.Identity.IsAuthenticated)
                            {
                                <a id="footer-text-color" asp-controller="Account" asp-action="Logout">LOGGA UT</a>
                            }
                            else
                            {
                                 <a id="footer-text-color" asp-controller="Account" asp-action="Login">LOGGA IN</a>
                            }
                        </span>
                        <span class="mb-1">
                            <a id="footer-text-color" asp-controller="Gallery" asp-action="Index">HITTA HEM</a>
                        </span>
            </div>
            <div class="d-flex flex-column m-3">
                <h5>For realtors</h5>
                <span class="mb-1">
                        <a id="footer-text-color" asp-controller="Account" asp-action="Login">LOGGA IN</a>
                </span>
                <span class="mb-1">
                        <a id="footer-text-color" asp-controller="Account" asp-action="RegisterRealtor">NY MÄKLARE</a>
                </span>
                </div>  
                <div class="d-flex flex-column m-3">
                    <h5>Follow us</h5>
                    <span id="footer-text-color">
                    <i class="fa-brands fa-facebook"></i><a class="ml-1" id="footer-text-color" href="https://www.facebook.se" target="_blank">Facebook</a>
                    </span>
                    <span id="footer-text-color">
                    <i class="fa-brands fa-instagram"></i><a class="ml-1" id="footer-text-color" href="https://www.instagram.com/" target="_blank">Instagram</a>
                    </span>
                    <span id="footer-text-color">
                    <i class="fa-brands fa-twitter"></i><a class="ml-1" id="footer-text-color" href="https://www.twitter.com" target="_blank">Twitter</a>
                    </span>
                    <span id="footer-text-color">
                    <i class="fa-brands fa-linkedin"></i><a class="ml-1" id="footer-text-color" href="https://se.linkedin.com/" target="_blank">LinkedIn</a>
                    </span>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
                     <span class="m-1 text-center">
                            &copy; 2022 - HomeFinder - <a id="footer-text-color" asp-area="" asp-controller="Home" asp-action="Terms">Villkor</a>
                        </span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
