@model ChangePasswordViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container w-25">
    <form asp-action="ChangePassword">
        <div class="d-flex flex-column justify-content-center">
                <h3 class="text-center primary-color mt-5">Byt lösenord</h3>
                    <div class="form-group d-flex flex-row mt-2">
                        <label for="Password" class="w-50">Nuvarande lösenord</label>
                        <input asp-for="CurrentPassword" type="password" class="form-control w-50" id="password"/>
                        <span asp-validation-for="CurrentPassword"></span>
                    </div>
                    <div class="form-group d-flex flex-row mb-0">
                        <label for="newPassword" class="w-50">Nytt lösenord</label>
                        <input asp-for="NewPassword" class="form-control w-50" id="newPassword"/>
                        <span asp-validation-for="CurrentPassword"></span>
                    </div>
                    <div class="d-flex justify-content-end mt-0">
                        <ul class="input-requirements m-0 p-0 w-50" id="password-error"></ul>
                    </div>
                    <div class="form-group d-flex flex-row mt-2 mb-0">
                        <label for="confirmNewPassword" class="w-50">Bekräfta lösenord</label>
                        <input asp-for="ConfirmPassword" class="form-control w-50" id="confirmNewPassword"/>
                    </div>
                    <div class="d-flex justify-content-end mt-0">
                        <ul class="input-requirements m-0 p-0 w-50" id="password-confirm-error"></ul>
                    </div>
                    <div class="d-flex flex-row justify-content-around mt-5">
                        <button type="submit" class="btn button-primary" id="submit-button">Ändra lösenord</button>
                        <a asp-action="MyDetails" class="btn secondary-button">Tillbaka</a>
                    </div>
            </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/EditUser.js"></script>
}
