@model ForgotPasswordViewModel;

@{
	ViewData["Title"] = "Glömt lösenord";
}

<div class="container">
	<h2 class="mt-5">Glömt lösenord</h2>
	<form method="post" class="mt-3">
		<div class="form-group column">
			<label asp-for="Email" class="font-weight-bold"></label>
			<br />
			<input asp-for="Email" class="input-control w-50 mt-2" />
			<span asp-validation-for="Email"></span>
		</div>
		<button type="submit" class="btn button-primary mt-3">Skicka</button>
	</form>
</div>