@model ApplicationUser;
@{
	ViewData["Title"] = "Mina sidor";
}

<h1>Välkommen @User.Identity.Name!</h1>

<h5>Välkommen @User.Identity.Name!</h5>



<div>
    <a asp-area="" asp-controller="Account" asp-action="MyPage">
        <input type="button" class="btn btn-primary" value="Min sida" />
    </a>
</div>