@model ApplicationUser;
@{
	ViewData["Title"] = "Mina sidor";
}

@if(string.IsNullOrEmpty(Model.GivenName))
{
	<h1> 
		Välkommen @Model.Email!
	</h1>
}
else
{
	<h1>
		Välkommen @Model.GivenName!
	</h1>
}

<div>
	<a href="#" class="btn btn-primary">Sparade objekt</a>
</div>